*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

main{
    position: relative;
    min-height: 100vh;
    background: #23242a;
}

nav{
    background-color: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    margin-bottom: 25%;
    transition: all .50s ease;
    box-shadow: 0 0 7px 4px #000000;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    margin-right: 3px;
}
.logo span{
    font-family: 'Righteous', cursive;
    color: #D7DBCA;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0px 0;
    margin: 0px 30px 0px 30px;
    transition: all .50s ease;
}
.navbar .logout:last-child{
    display: none;
}
.navbar a:hover{
    color: #FE581E;
}
.navbar a.active{
    color: #FE581E;
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.logout{
    display: flex;
    align-items: center;
}
.main a:hover{
    color: #FE581E;
}
#menu-icon{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 8;
    display: none;
}

.location{
    position: absolute;
    display: flex;
    margin-top: 120px;
    margin-left: 30px;
    gap: 10px;
    z-index: 5;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0 1px #dbdbdb;
}
.location .local{
    color: rgb(255, 255, 255);

}
.location .page-title{
    color: rgb(211, 211, 211);
    text-decoration: underline;
}


section{
    height: 50vh;
}

.wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
    background: #1e1e20;
}

.box{
    margin-top: 300px;
    max-width: 450px;
    background-color: #111111;
    padding: 10px 30px 10px 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

form:hover{
    transform: scale(1.03);
    transition: .5s;
}

.contact-title{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.7rem;
    font-weight: 600;
}

.contact-box a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.contact-box a:hover{
    transform: scale(1.03);
    transition: .5s;
}
.contact-box img{
    width: 3rem;
}
.contact-box h3{
    color: #d4d4d4;
    font-size: 1.2rem;
    text-decoration: underline;
}


@media (max-width: 1280px){
    nav{
        padding: 5px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 0px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 880px){
    nav{
        padding: 10px 2%;
    }
    .logo img{
        width: 40px;
    }
    .logo span{
        font-size: 2rem;
    }
    
    .navbar .logout:last-child{
        display: flex
    }
    #log{
        display: none;
    }
    #menu-icon{
        display: block;
    }
    #menu-icon:hover{
        color: #FE581E;
        transition: .5s;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 170px;
        height: 240px;
        background: #111111;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        box-shadow: 0 0 10px 3px #3f3f3f;
        transition: .5s;
    }
    .navbar a{
        color: #bbbbbb;
        display: block;
        margin: 8px 0 5px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: #ffffff;
        transform: translateY(5px);
    }
    .navbar a.active{
        color: #ffffff;
    }
    .navbar.open{
        top: 75px;
        right: -2%;
    }
}
@media (max-width: 550px){
    .navbar{
        width: 130px;
        height: 200px;
    }
    .navbar a{
        font-size: 15px;
        margin: 5px 0 5px 0;
        padding: 0px 10px;
    }
    .navbar a:hover{
        color: #ffffff;
        transform: translateY(4px);
    }
    .navbar a.active{
        color: #ffffff;
    }
    .navbar.open{
        top: 75px;
        right: -2%;
    }

    .location{
        margin-top: 100px;
        margin-left: 30px;
        gap: 8px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .box{
        margin-top: 230px;
        max-width: 400px;
    }
    
    .contact-title{
        margin-bottom: 5px;
        font-size: 1.3rem;
    }
}
@media (max-width: 411px){
    .location{
        margin-top: 95px;
        margin-left: 25px;
        gap: 6px;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .box{
        margin-top: 205px;
    } 
}
@media (max-width: 391px){
    .location{
        margin-top: 85px;
        margin-left: 25px;
        gap: 6px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .box{
        margin-top: 198px;
    }
}
@media (max-width: 381px){
    .location{
        margin-top: 95px;
        margin-left: 20px;
    }

    .box{
        margin-top: 190px;
    } 
}
@media (max-width: 350px){
    .location{
        margin-left: 10px;
    }

    .box{
        padding: 10px 20px 10px 20px;
        margin-top: 190px;
        max-width: 350px;
    }
    
    .contact-title{
        font-size: 17px;
    }
}
@media (max-width: 330px){
    .location{
        font-size: 1.15rem;
    }

    .box{
        padding: 5px 10px 5px 10px;
        max-width: 350px;
    }
    
    .contact-title{
        font-size: 15px;
    }
}
@media (max-width: 311px){
    .description{
        margin-left: 17px;
        font-size: .73rem;
    } 
}
@media (max-width: 291px){
    .location{
        font-size: 1.1rem;
    } 
}
@media (max-width: 275px){
    .location{
        font-size: 1rem;
    } 
}
@media (max-width: 260px){
    .location{
        font-size: .93rem;
    }
}